asyncio==4.0.0
blinker==1.9.0
cffi==2.0.0
click==8.3.1
colorama==0.4.6
cryptography==46.0.3
dnspython==2.8.0
dotenv==0.9.9
Flask==3.1.2
Flask-WTF==1.2.2
itsdangerous==2.2.0
Jinja2==3.1.6
MarkupSafe==3.0.3
motor==3.7.1
pillow==12.0.0
pycparser==2.23
PyJWT==2.10.1
pymongo==4.15.5
python-dotenv==1.2.1
Werkzeug==3.1.4
WTForms==3.2.1
