<nav id="mainNav" class="navbar navbar-expand-lg navbar-light bg-light sticky-top shadow-lg text-black">
  <div class="container">
      <a class="navbar-brand" href="{{ url_for('index')}}"><img class="me-2" src="{{ url_for('static', filename='pictures/LOGO ASRAMA SM.png') }}" alt="" width="40" height="36"><h3 class="d-flex mb-0"> Asrama Mahasiswa St. Bonaventura</h3></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
         <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse justify-content-lg-end" id="navbarSupportedContent">
         <ul class="navbar-nav align-items-center mt-2 pt-3 mb-1 my-lg-0 pt-lg-1 fw-semibold border-1 border-top border-secondary border-opacity-50 gap-lg-3 d-flex flex-row justify-content-evenly">
            <li class="nav-item">
               <a class="nav-link" aria-current="page" href="{{ url_for('index')}}"><i class="fa fa-home"></i></a>
            </li>
            <div class="border-1 border-black border rounded px-3 d-flex" id="nav_admin_group_btn">
               <li class="nav-item">
                  <a class="nav-link active h5 mb-0 mx-2" href="{{ url_for('admin_tentang')}}">Admin</a>
               </li>
               <li class="nav-item d-flex align-items-center">
                  <div class="mb-0">
                     <button data-bs-toggle="modal" data-bs-target="#modal_logout" class="btn my-btn-outline-red text-secondary px-2 py-1 mx-2 shadow fw-semibold nav-link h5 mb-0">Logout</button>
                  </div>
               </li>
            </div>
         </ul>
      </div>
  </div>
</nav>
<div class="modal fade" id="modal_logout" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
   <div class="modal-dialog modal-dialog-konfirmasi mx-auto my-4">
      <div class="modal-content">
         <div class="modal-header d-flex justify-content-center">
            <h5 class="modal-title"><img src="{{ url_for('static', filename='pictures/LOGO ASRAMA SM.png') }}" alt="" width="40" height="36"></h5>
         </div>
         <div class="modal-body">
            <p class="text-center deskripsi mb-4">Logout sekarang?</p>
            <form action="{{url_for('logout')}}" method="post" class="d-flex justify-content-evenly">
               <button type="submit" class="btn konfirmasi-btn btn-card px-2 py-1 shadow-sm h5 mb-0">Ya</button>
               <button type="button" class="btn konfirmasi-btn btn-secondary px-2 py-1 shadow-sm h5 mb-0" data-bs-dismiss="modal">Batal</button>
            </form>
         </div>
      </div>
   </div>
</div>