<div id="edit_konten_navbar" class="row w-100 shadow">
   <div class="col-12 justify-content-evenly mb-2 d-none d-md-flex">
      <a href="{{url_for('admin_tentang')}}" data-value="tentang">Tentang</a>
      <a href="{{url_for('admin_pembinaan')}}" data-value="pembinaan">Pembinaan</a>
      <a href="{{url_for('admin_fasilitas')}}" data-value="fasilitas">Fasilitas</a>
      <a href="{{url_for('admin_buletin')}}" data-value="buletin">Buletin</a>
      <a href="{{url_for('admin_kegiatan')}}" data-value="kegiatan">Kegiatan</a>
   </div>
   <div class="col-12 justify-content-evenly d-none d-md-flex">
      <a href="{{url_for('admin_makna_arti_logo')}}" data-value="makna-arti-logo">Makna & Arti Logo</a>
      <a href="{{url_for('admin_kepengurusan')}}" data-value="kepengurusan">Kepengurusan</a>
      <a href="{{url_for('admin_daftar_penghuni')}}" data-value="daftar-penghuni">Daftar Penghuni</a>
      <a href="{{url_for('admin_kontak')}}" data-value="kontak">Kontak</a>
   </div>
   <div class="col-12 justify-content-evenly mb-2 d-flex d-md-none">
      <a href="{{url_for('admin_tentang')}}" data-value="tentang">Tentang</a>
      <a href="{{url_for('admin_pembinaan')}}" data-value="pembinaan">Pembinaan</a>
      <a href="{{url_for('admin_fasilitas')}}" data-value="fasilitas">Fasilitas</a>
   </div>
   <div class="col-12 justify-content-evenly d-flex d-md-none">
      <a href="{{url_for('admin_buletin')}}" data-value="buletin">Buletin</a>
      <a href="{{url_for('admin_kegiatan')}}" data-value="kegiatan">Kegiatan</a>
      <a href="{{url_for('admin_makna_arti_logo')}}" data-value="makna-arti-logo">Makna & Arti Logo</a>
   </div>
   <div class="col-12 justify-content-evenly d-flex d-md-none">
      <a href="{{url_for('admin_kepengurusan')}}" data-value="kepengurusan">Kepengurusan</a>
      <a href="{{url_for('admin_daftar_penghuni')}}" data-value="daftar-penghuni">Daftar Penghuni</a>
      <a href="{{url_for('admin_kontak')}}" data-value="kontak">Kontak</a>
   </div>
</div>