<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>Admin - AM St. Bonaventura</title>
   <link rel="shortcut icon" type="image/x-icon" href="{{ url_for('static', filename='pictures/LOGO ASRAMA.ico') }}"/>
   {% include "partials/links.html" %}
</head>
<body>
   {% include "partials/spinner.html" %}
   {% include "partials/navbar_admin.html" %}
   <div class="container mt-3 mt-md-4">
      <h2 class="text-center text-dark">Admin - Edit Konten</h2>
      {% include "admin_partials/edit_konten_navbar.html" %}
   </div>
   <div class="container">
      {% with messages = get_flashed_messages(with_categories=true) %}
         {% if messages %}   
            {% for category, message in messages %}
               <div class="alert alert-{{category}} my-4 alert-dismissible show fade" role="alert">
                  <span>{{ message }}</span>
                  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
               </div>
            {% endfor %}
         {% endif %}
      {% endwith %}
   </div>
   <div class="container mb-5">
      <div class="row gy-4">
         <form id="fasilitas_form" method="post" action="{{url_for('admin_fasilitas')}}" class="content_form col-12 shadow px-4 pb-4 pt-2 rounded bg-con-input" enctype="multipart/form-data">
            {{form_fasilitas.hidden_tag()}}
            <h3>Fasilitas Asrama</h3>
            <div class="row gy-3 mx-0">
               {% for field in fasilitas["fields"] %}
                  {% if field["type"] == "card" %}
                     {% for el in field["value"] %}
                        <div class="row mx-0 my-4 p-3 rounded shadow bg-card flex-column flex-md-row">
                           <div class="col-12 col-md-11 col-lg-10">
                              <div class="row px-2 py-3 gap-3 gap-md-0">
                                 <div class="col-12 col-md-6 d-flex flex-column justify-content-between gap-2 gap-md-0">
                                    <div>
                                       <label class="form-label" for="nama_butir_fasilitas_{{loop.index}}"><h6>Nama butir fasilitas</h6></label>
                                       <input required class="form-control" type="text" name="nama[]" id="nama_butir_fasilitas_{{loop.index}}" value="{{el['name']}}" data-before="{{el['name']}}">
                                    </div>
                                    <div>
                                       <label class="form-label" for="keterangan_butir_fasilitas_{{loop.index}}"><h6>Keterangan</h6></label>
                                       <textarea required class="form-control" name="keterangan[]" id="keterangan_butir_fasilitas_{{loop.index}}" cols="10" rows="5" data-before="{{el['value']}}">{{el['value']}}</textarea>
                                    </div>
                                 </div>
                                 <div class="col-12 col-md-6 d-flex flex-column justify-content-between">
                                    <div class="col-6 mb-3 w-100 d-flex justify-content-center">
                                       <img src="{{el['gambar']}}" alt="" srcset="" class="w-50 output-image">
                                    </div>
                                    <div>
                                       <label class="form-label" for="gambar_butir_fasilitas_{{loop.index}}"><h6>Ganti gambar</h6></label>
                                       <input class="form-control" type="file" accept="image/png, image/jpeg" name="gambar[]" id="gambar_butir_fasilitas_{{loop.index}}" value="" data-before="" onchange="loadFile(event)">
                                       <input type="hidden"  name="gambar_lama[]" value="{{el['gambar']}}">
                                    </div>
                                 </div>
                              </div>
                           </div>
                           <div class="col-md-1 col-lg-2 col-button-edit-admin flex-row flex-md-column gap-5 gap-md-0 p-4 p-md-0">
                              <button type="button" class="btn btn-secondary shadow-sm" data-name="{{field['name']|replace('_', ' ')|replace('butir ', '')}}" onclick="add_card(event)">
                                 <i class="fa-solid fa-plus" data-name="{{field['name']|replace('_', ' ')|replace('butir ', '')}}"></i>
                              </button>
                              <button type="button" class="btn btn-danger shadow-sm" data-name="{{field['name']|replace('_', ' ')}}" onclick="remove_card(event)">
                                 <i class="fa-solid fa-trash" data-name="{{field['name']|replace('_', ' ')}}"></i>
                              </button>
                           </div>
                        </div>
                     {% endfor %}
                  {% else %}
                     <div class="col-12 p-3 rounded shadow my-4 bg-input">
                        <label class="form-label" for="{{field['name']}}"><h5>{{field["name"].replace("_", " ")|capitalize}}</h5></label>
                        {% if field["type"] == "textarea" %}
                           <textarea required class="form-control" name="{{field['name']}}" id="{{field['name']}}" cols="10" rows="5" data-before="{{field['value']}}">{{field['value']}}</textarea>
                        {% else %}
                           <input required class="form-control" type="{{field['type']}}" name="{{field['name']}}" id="{{field['name']}}" value="{{field['value']}}" data-before="{{field['value']}}">
                        {% endif %}
                     </div>
                  {% endif %}
               {% endfor %}
               <div class="d-flex flex-column align-items-center py-2">
                  <div class="alert alert-warning d-none" role="alert">
                     Tidak terdeteksi perubahan pada form Fasilitas Asrama.
                  </div>
                  <div id="submit-button-container" class="d-flex flex-column">
                     {{form_fasilitas.submit(class="btn btn-success px-3", disabled=true)}}
                     <small class="text-muted" id="sumbit_subtitle">atau Ctrl + Enter</small>
                  </div>
               </div>
            </div>
         </form>
      </div>
   </div>
   {% include "partials/scripts_admin.html" %}
</body>
</html>